﻿@{
    ViewData["Title"] = "About";
    var pastes = (IEnumerable<Url>) ViewData["pastes"];
    var urls = (IEnumerable<Url>) ViewData["urls"];
    var b = (string) ViewData["base"];
}
<div>
    <h1>About</h1>
    <h2>Overview</h2>
    <p>urler is an open source web application for sharing links and pasted text from the command line.
    It allows you to submit links and snippets of text from the command line and have others access them instantly using a generated link, which you can share. 
    urler is written in simple HTML with no CSS or JavaScript to honour the days when a web site didn't require 5 MB of transpiled JavaScript to load in order to display text and a few images. It is written in ASP.NET Core 2.2 backed by PostgreSQL.</p>
    <p>urler is free software, free as in free speech and free as in free service, licensed under the liberal BEERWARE license. You can either use the service here on the web site or fork it yourself on Bitbucked and send patches.</p>

    <h2>Using It</h2>
    <p>
        You can post content to urler using curl or similar, e.g. basic HTTP POST operations. You can create either links or pasted content. For the former, urler will redirect you to a link, whereas for the latter urler will display the pasted content. 
        <br />
        Post a new shortened URL: <br />
        <pre>curl -X POST --data 'https://url.to.redirect.to/' -k https://localhost:5001/u
{"id":16,"code":"Ak1gl6zXAs","created":"2019-02-02T01:14:15.2854845+11:00","updated":"2019-02-02T01:14:15.2854899+11:00","urlType":"url","val":"https://url.to.redirect.to/","creatorIp":"127.0.0.1","access":"public"}</pre>
        The 'code' string in the JSON object is what you need to use to create the new link, i.e. https://[urler-address]/[code].<br />
        Similarly, you can create a new pastie (notice how the url has changed from 'u' at the end to 'p'):<br />
        <pre>
        curl -X POST --data '@@file.txt' -k https://localhost:5001/p
        </pre>
        You can also do the same via the we interface.
    </p>
</div>
