﻿@{
    ViewData["Title"] = "Home";
    var pastes = (IEnumerable<Url>) ViewData["pastes"];
    var urls = (IEnumerable<Url>) ViewData["urls"];
    var b = (string) ViewData["base"];
}


<div id="links">
    <h2>Most recent links</h2>
    <ul>
    @foreach (var u in urls) { 
        <li><a href="@b/?@u.Code">@u.Val</a>&nbsp;(@u.Code)</li>
    }
    </ul>
</div>

<div id="pasties">
    <h2>Most recent pasties</h2>
    <ul>
    @{foreach (var p in pastes) { 
        var t = ""; 
        if (p.Val.Length < 15) {
            t = p.Val; 
        }
        else 
        {
            t = p.Val.Substring(0, 15) + " [...]";
        }
  
        <li><a href="@b/?@p.Code">@t</a>&nbsp;(@p.Code)</li>
    }}
    </ul>
</div>