﻿@{
    ViewData["Title"] = "Show Paste";
    var p = (Url) ViewData["paste"]; 
    var numClicks = (long)ViewData["numClicks"];
}

<div>
    <h1>Viewing Paste @p.Code</h1>
    <p>
        Created: @p.Created<br />
        Visibility: @p.Access<br />
        Number of clicks: @numClicks
    </p>
    <p>
</div>
<hr />
<div>
    <pre>
        @p.Val
    </pre>
</div>
<hr />

