﻿@{
    ViewData["Title"] = "Submit New Content";
}

<form action="/home/CreateUrl" method="post">
    <p>
        <input name="access" type="checkbox" />Private?<br />
        URL: <input name="url" type="url" style="width: 480px" />
        <br />
        -- or --<br />
        <textarea name="paste" style="width: 500px; height: 500px;">Text to paste</textarea>
    </p>
    <input type="submit" name="submit" value="Go" />
</form>